@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --profile-icon-color: #4a90e2;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --profile-icon-color: #8ab4f8;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.profile-icon {
  color: var(--profile-icon-color);
  fill: var(--profile-icon-color);
}  
